version: 2

defaults: &defaults

jobs:
  build:
    context: docker-hub-credentials
    docker:
      - image: circleci/python
      - image: trufflesuite/ganache-cli
        command: ganache-cli -e 10000000000 -a 100
    working_directory: ~/repo
    steps:
      - checkout

      - run:
          command: |
            curl -sL https://deb.nodesource.com/setup_10.x | sudo -E bash -
            sudo apt-get install -y nodejs
            cd ..
            git clone https://github.com/ethereum/vyper.git
            cd vyper
            sudo pip3 install . 
            export PATH=$PATH:$PWD/bin

      # Cache disabled as `npm i` occasionally fails on dependancies which use websocket
      - run: npm i

      - run: num run compile
      - run: npm run deploy # Update ABIs

      - persist_to_workspace:
          root: ~/repo
          paths: .

  test:
    context: docker-hub-credentials
    docker:
      - image: circleci/node:10
    working_directory: ~/repo
    steps:
      - attach_workspace:
          at: ~/repo
      - run: npm run test
      - run: npm run lintNoFix

  csvTests:
    context: docker-hub-credentials
    docker:
      - image: circleci/node:10
    working_directory: ~/repo
    steps:
      - attach_workspace:
          at: ~/repo
      - run: npm run csvTests

  publish:
    context: docker-hub-credentials
    docker:
      - image: circleci/node:10
    working_directory: ~/repo
    steps:
      - attach_workspace:
          at: ~/repo
      - run:
          name: Authenticate with registry
          command: echo "//registry.npmjs.org/:_authToken=$npm_TOKEN" > ~/repo/.npmrc
      - run:
          name: Publish package
          command: npm publish

workflows:
  version: 2
  build:
    jobs:
      - build:
          filters:
            tags:
              only: /^v.*/
      - test:
          requires:
            - build
      - csvTests:
          requires:
            - build
      - publish:
          requires:
            - build
          filters:
            tags:
              only: /^v.*/
            branches:
              ignore: /.*/
