version: 2
jobs:
  test:
    context: docker-hub-credentials
    docker:
      - image: circleci/python
    working_directory: ~/repo
    steps:
      - checkout

      - run:
          command: |
            sudo apt-get install nodejs
            sudo pip install vyper

      - restore_cache:
          keys:
            - v1-{{ checksum "package.json" }}

      - run: npm i

      - save_cache:
          paths:
            - node_modules
            - package-lock.json
          key: v1-{{ checksum "package.json" }}

      - run: npm run test

workflows:
  version: 2
  build:
    jobs:
      - test
