version: 2

defaults: &defaults

jobs:
  build:
    context: docker-hub-credentials
    docker:
      - image: circleci/node:10
      - image: trufflesuite/ganache-cli:v6.9.1
        command: ganache-cli -e 10000000000 -a 100
    working_directory: ~/repo
    steps:
      - checkout

      # Cache disabled as `npm i` occasionally fails on dependancies which use websocket
      - run: npm i

      - run: npm run compile
      - run: npm run deploy # Update ABIs

      - persist_to_workspace:
          root: ~/repo
          paths: .

  test:
    context: docker-hub-credentials
    docker:
      - image: circleci/node:10
      - image: trufflesuite/ganache-cli:v6.9.1
        command: ganache-cli -e 10000000000 -a 100 -k istanbul
    working_directory: ~/repo
    steps:
      - attach_workspace:
          at: ~/repo
      - run:
          command: npm run test
          no_output_timeout: 60m
      - run: npm run lintNoFix

  coverage:
    context: docker-hub-credentials
    docker:
      - image: circleci/node:10
    working_directory: ~/repo
    steps:
      - attach_workspace:
          at: ~/repo
      - run:
          command: npm run coverage
          no_output_timeout: 120m

  publish:
    context: docker-hub-credentials
    docker:
      - image: circleci/node:10
    working_directory: ~/repo
    steps:
      - attach_workspace:
          at: ~/repo
      - run: mv build c-org-abi/build/
      - run:
          name: Authenticate with registry
          command: echo "//registry.npmjs.org/:_authToken=$npm_TOKEN" > ~/repo/c-org-abi/.npmrc
      - run:
          name: Publish package
          command: cd c-org-abi && npm publish --access public

workflows:
  version: 2
  build:
    jobs:
      - build:
          filters:
            tags:
              only: /^v.*/
      - test:
          requires:
            - build
      - coverage:
         requires:
           - test
      - publish:
          requires:
            - build
          filters:
            tags:
              only: /^v.*/
            branches:
              ignore: /.*/
