version: 2

defaults: &defaults

jobs:
  build:
    context: docker-hub-credentials
    docker:
      - image: circleci/node:10
      - image: trufflesuite/ganache-cli:v6.12.2
        command: ganache-cli -e 10000000000 -a 100
    working_directory: ~/repo
    steps:
      - checkout

      # Cache disabled as `npm i` occasionally fails on dependencies which use websocket
      - run: npm i

      - run: npm run compile
      - run: npm run deploy # Update ABIs

      - persist_to_workspace:
          root: ~/repo
          paths: .

  test:
    context: docker-hub-credentials
    docker:
      - image: circleci/node:10
      - image: trufflesuite/ganache-cli:v6.12.2
        command: ganache-cli -e 10000000000 -a 100 -k istanbul
    working_directory: ~/repo
    steps:
      - attach_workspace:
          at: ~/repo
      - run:
          command: npm run test
          no_output_timeout: 60m
      - run: npm run lintNoFix

  coverage:
    context: docker-hub-credentials
    docker:
      - image: circleci/node:10
    working_directory: ~/repo
    steps:
      - attach_workspace:
          at: ~/repo
      - run:
          command: npm run coverage
          no_output_timeout: 120m

  csv:
    context: docker-hub-credentials
    docker:
      - image: circleci/node:10
      - image: trufflesuite/ganache-cli:v6.12.2
        command: ganache-cli -e 10000000000 -a 100 -k istanbul
    working_directory: ~/repo
    steps:
      - attach_workspace:
          at: ~/repo
      - run:
          command: npm run csvTests
          no_output_timeout: 120m

  publishABI:
    context: docker-hub-credentials
    docker:
      - image: circleci/node:10
    working_directory: ~/repo
    steps:
      - attach_workspace:
          at: ~/repo
      - run: cp -a build c-org-abi/build/
      - run:
          name: Authenticate ABI with registry
          command: echo "//registry.npmjs.org/:_authToken=$npm_TOKEN" > ~/repo/c-org-abi/.npmrc
      - run:
          name: Publish ABI package
          command: cd c-org-abi && npm publish --access public

  publishContracts:
    context: docker-hub-credentials
    docker:
      - image: circleci/node:10
    working_directory: ~/repo
    steps:
      - attach_workspace:
          at: ~/repo
      - run:
          name: Authenticate contracts with registry
          command: echo "//registry.npmjs.org/:_authToken=$npm_TOKEN" > ~/repo/.npmrc
      - run:
          name: Publish contracts package
          command: npm publish --access public

workflows:
  version: 2
  build:
    jobs:
      - build:
          filters:
            tags:
              only: /^v.*/
      - test:
          requires:
            - build
      - csv:
          requires:
            - build
      - coverage:
         requires:
           - build
      - publishABI:
          requires:
            - build
          filters:
            tags:
              only: /^v.*/
            branches:
              ignore: /.*/
      - publishContracts:
          requires:
            - build
          filters:
            tags:
              only: /^v.*/
            branches:
              ignore: /.*/
