version: 2
jobs:
  test:
    context: docker-hub-credentials
    docker:
      - image: circleci/node:10
      - image: ethereum/vyper
    working_directory: ~/repo
    steps:
      - checkout

    # todo

workflows:
  version: 2
  build:
    jobs:
      - test: